:root {
  --dark: #272727;
  --light-grey: #747474;
  --light-orange: #FF652F;
  --light-yellow: #FFE400;
  --light-green: #14A76C;
  }
  
  .bg-dark {
    background-color: var(--dark);
  }

  .text-yellow {
    color: var(--light-yellow);
  }

  .text-orange {
    color: var(--light-orange) !important;
  }

  .border-yellow {
    border-color: var(--light-yellow) !important;
  }

  .text-grey {
    color: var(--light-grey);
  }

  .text-green {
    color: var(--light-green) !important;
  }

  .border-grey {
    border: 1px solid var(--light-grey);
  }

