.formField {
  display: grid;
  grid-template-rows: 1.7rem 1fr;
  grid-template-columns: 2.5fr 3fr;
  line-height: 1.7rem;
  padding: 0.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;

  label {
    text-transform: lowercase;
  }

  .icon-container {
    justify-self: center;

    i {
      margin: 0.2rem;
    }
  }

  .messages {
    grid-column-start: 3;
    grid-column-end: 4;
    max-width: 25rem;
    margin-left: 0.5rem;
    text-transform: none;
  }

  :first-child {
    text-align: right;
    margin-right: 0.5rem;
  }

  input {
    background: transparent;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid var(--light-grey);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    max-width: 23rem;
    height: 2rem;

    &:focus {
      outline: none;
      box-shadow: inset 5px 5px 15px 5px rgba(0, 0, 0, 0.5),
        inset -5px -5px 15px 5px rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid white;
    }

    &:invalid {
      border-bottom: 1px solid var(--light-orange);
    }

    &:valid {
      border-bottom: 1px solid var(--light-green);
    }
  }
}

button {
  background-color: transparent;
  border: 0;
  max-width: 15rem;
  text-align: center !important;
  text-transform: lowercase;
  font-size: 1.5rem;
  height: 3rem;
  background: #747474;
  background: linear-gradient(
    135deg,
    var(--dark-grey) 0%,
    #272727 66%,
    #000000 100%
  );

  border-radius: 25px;
  transition: box-shadow 0.2s ease-in;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 10px 10px 0px 0px rgba(20, 167, 108, 0.6),
      20px 20px 0px 0px rgba(20, 167, 108, 0.4),
      30px 30px 0px 0px rgba(20, 167, 108, 0.2);
  }

  &:active {
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 10px 10px 0px 0px rgba(20, 167, 108, 0.6),
      20px 20px 0px 0px rgba(20, 167, 108, 0.4);
  }

  &:disabled {
    color: var(--light-grey) !important;
    border-color: var(--light-grey) !important;
  }
}
