@import "./reset.scss";
@import "./colours.scss";
@import "./spacing.scss";
@import "./form.scss";
@import "./spinner.scss";

html,
body {
  font-family: "Lato", sans-serif;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: none;
}

#menu ul {
  :first-child {
    float: left;
    a {
      font-weight: bold;
    }
  }

  > li {
    float: right;
    padding: 0.5rem;

    a {
      text-decoration: none;

      i {
        padding-right: 0.5rem;
      }
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

#container {
  width: 100vw;
  text-transform: uppercase;
  display: grid;
  grid-template-areas: "menu   menu"
                       "content content"
                       "footer  footer";
  grid-template-rows: 2rem minmax(calc(100vh - 4rem), 100%) 2rem;
  grid-template-columns: 1fr;
  
  #menu {
    grid-area: menu;
  }
  
  #content {
    grid-area: content;
    margin-bottom: 5rem;
  }

  #footer {
    grid-area: footer;
    width: 100vw;
    text-align: center;
    padding: 0.5rem;
  }
}




