.lds-dual-ring {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  justify-self: center;
  &:after {
    content: " ";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.2rem;
    border-radius: 50%;
    border: 6px solid var(--light-yellow);
    border-color: var(--light-yellow) transparent var(--light-yellow)
      transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
