.menu {
  display: grid;
  grid-template-columns: 12fr 1fr;
  padding: 0.5rem;
  background-color: #190061;

  .menu-button {
    font-size: 1.2rem;
    color: #3500d3;
    background-color: transparent;
    border: none;
  }

  ul {
    grid-column: 1/3;
    text-align: center;
    margin-top: 0.5rem;

    @media screen and (min-width: 800px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    .menu-item {
      color: white;
      text-decoration: none;
      margin: 0.5rem !important;

      &:hover {
        text-decoration: underline !important;
        text-decoration-color: white;
      }
    }
  }
}
