button#brand {
  color: var(--light-green);
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-transform: uppercase !important;
  border-bottom: 3px solid var(--light-orange) !important;
  outline: none;
  box-shadow: 8px 8px 0px 0px rgba(255, 101, 47, 0.4),
    16px 16px 0px 0px rgba(255, 101, 47, 0.2);
  padding-left: 0.2rem;
  padding-right: 0.8rem;

  &:active {
    margin-top: 0;
    margin-left: 0;
  }
}

i#brand_icon {
  color: var(--light-yellow) !important;
  margin-top: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
