:root {
  --dark: #272727;
  --dark-grey: #393939;
  --light-grey: #747474;
  --light-orange: #ff652f;
  --light-yellow: #ffe400;
  --light-green: #14a76c;
}

.bg-dark {
  background-color: var(--dark);
}

.text-yellow {
  color: var(--light-yellow);
}

.text-orange {
  color: var(--light-orange) !important;
}

.border-yellow {
  border-color: var(--light-yellow) !important;
}

.text-grey {
  color: var(--light-grey);
}

.text-green {
  color: var(--light-green) !important;
}

.border-grey {
  border: 1px solid var(--light-grey);
}
