#experience {
  margin-top: 2rem;
  text-align: center;
}

.timeline {
  margin-top: 2rem;
}

.projectContainer {
  border-left: 0.5rem solid yellow;
  display: grid;
  grid-template-columns: 2rem 2.5rem 1fr;
  align-items: center;

  .timelineConnector {
    border: 0.3rem solid yellow;
    height: 0.3rem;
  }

  .year {
    color: var(--light-green);
    font-weight: bold;
    margin: 0.5rem;
  }

  .project {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;

    .title {
      font-weight: bold;
      margin-top: 0.5rem;
    }

    .description {
      text-transform: none;
      padding-bottom: 0.5rem;
    }

    .tech {
      border: 1px solid var(--light-grey);
      padding: 0.2rem;
      border-radius: 5px;
      width: fit-content;
      margin-left: 0.2rem;
      margin-right: 0.2rem;
      display: inline-block;
      color: var(--light-green);

      i {
        color: var(--light-yellow);
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left {
      .projectContainer {
        border: 0;
        border-right: 0.5rem solid yellow;
        grid-template-columns: 1fr 2.5rem 2rem;

        .project {
          grid-column: 1/2;
          text-align: right;
        }

        .year {
          grid-column: 2/3;
        }

        .timelineConnector {
          grid-column: 3/4;
        }
      }
    }

    .right {
      .projectContainer {
        padding-top: 3rem;
        text-align: left;
      }
    }
  }
}
